<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.actein.scanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_gradient"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher_gradient"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo">
        <activity
            android:name=".activity.LaunchActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SetupActivity"
            android:noHistory="true">
        </activity>

    </application>

</manifest>